In [1]:
from random import randrange
from datetime import timedelta, datetime

In [2]:
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    random_days = randrange(delta.days)
    return start + timedelta(days=random_days)

In [3]:
d1 = datetime.strptime('1/2/1900', '%m/%d/%Y')
d2 = datetime.strptime('1/1/2005', '%m/%d/%Y')
d3 = datetime.strptime('1/1/2023', '%m/%d/%Y')
first_name_list = ['James', 'Robert', 'John', 'Michael', 'David', 'Mary', 'Patricia', 'Jennifer', 'Linda', 'Elizabeth']
last_name_list = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones']
def random_employee_info():
    first_name = first_name_list[randrange(10)]
    last_name = last_name_list[randrange(5)]
    birth_date = random_date(d1, d2)
    join_date = random_date(birth_date+ timedelta(days=1), d3)
    birth_date = str(birth_date.year) + '-' + str(birth_date.month) + '-' + str(birth_date.day)
    join_date = str(join_date.year) + '-' + str(join_date.month) + '-' + str(join_date.day)
    salary = randrange(1,5000)
    return [first_name, last_name, birth_date, join_date, salary]

In [4]:
def generate_query(file_name, row_num):
    with open(file_name, 'w') as file:
        for i in range(row_num):
            emp_info = random_employee_info()
            emp_str = f'''INSERT INTO employees (first_name, last_name, birth_date, joined_date, salary) VALUES ('{emp_info[0]}', '{emp_info[1]}', '{emp_info[2]}', '{emp_info[3]}', '{emp_info[4]}');\n\n'''
            file.write(emp_str)
    file.close()

In [5]:
generate_query('query2.sql', 100)
generate_query('query3.sql', 1000)
generate_query('query4.sql', 10000)
generate_query('query5.sql', 100000)